@media only screen and (max-width: 787px) {
    .modal {
        background: white;
        min-width: 70%;
        max-width: 70%;
        min-height: 75%;
        max-height: 100%;
        padding: 40px;
        position: relative;
    }
}

.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.modal {
    background: white;
    min-width: 960px;
    max-width: 960px;
    min-height: 50vh;
    padding: 40px;
    position: relative;
}

.subtitulo-modal {
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 5%;
}

.subtitulo-modal:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #6e28ac;
    margin: 8px auto;
}

.titulo-modal img {
    width: 45px;
    height: 45px;
}

.modal-texto h3{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
}

.comecando, .regras {
    text-align: center;
    margin: 5% auto;
}

#premiacao {
    margin-top: 5%;
}

.comecando h3, .regras h3 {
    font-weight: 600;
}

.comecando p {
    width: 80%;
    margin: 2% auto 0;
    text-align: justify;
    font-size: 1.15rem;
    font-weight: 500;
}

.regras-lista li {
    margin: 5% auto;
    line-height: 1.5em;
    text-align: justify;
    font-size: 1.15rem;
    font-weight: 500;

}


@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ativo .modal {
    animation: modal .3s forwards;
}

.fechar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    top: -30px;
    right: -30px;
    position: absolute;
    background: #E54;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    font-size: 1.2rem;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

@media only screen and (min-width: 788px) and (max-width: 979px) {

    .modal {
        min-width: 80%;
    }

}

@media only screen and (max-width: 787px) {
    .modal {
        min-width: 30%;
        max-width: 80%;
    }

}